@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript">
    window.json = @Html.Raw(Json.Serialize(ViewBag.data));
    console.log(window.json)
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <div class="btn-toolbar" role="toolbar" aria-label="Pasek narzędziowy">
        <div class="btn-group btn-block" role="group" aria-label="Proces ETL">
            <button type="button" class="btn btn-primary" id="btnETL">ETL</button>
            <button type="button" class="btn btn-outline-primary" id="btnE">Extract</button>
            <button type="button" class="btn btn-outline-primary" id="btnT">Transform</button>
            <button type="button" class="btn btn-outline-primary" id="btnL">Load</button>
        </div>
        <div class="btn-group btn-block" role="group" aria-label="Grupa">
            <button type="button" class="btn btn-outline-danger" id="btnDropDB">Wyczyść bazę danych</button>
        </div>
    </div>
    <div role="group">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Waluta 1</th>
                    <th scope="col">Waluta 2</th>
                    <th scope="col">Waluta 3</th>
                    <th scope="col">Waluta 4</th>
                </tr>
            </thead>
                <tbody>
                <tr>
                    <td>test1</td>
                    <td>test2</td>
                    <td>test3</td>
                    <td>test4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
