@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript">
    window.json = @Html.Raw(Json.Serialize(ViewBag.data));
    console.log(window.json)
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
